<div id="dashboard">
	{{outlet "connection-status"}}

	{{outlet "bitcoin-price"}}
	{{outlet "tram-schedule"}}
	{{outlet "clock"}}
	{{outlet "weather"}}
	{{outlet "rain-forecast"}}
	{{outlet "currently-playing"}}
</div>