<div id="dashboard">
	{{outlet "connection-status"}}

  <div class="dashboard-item key-value-pairs">
    {{outlet "bitcoin-price"}}
    {{outlet "network-connectivity"}}
  </div>
	{{outlet "tram-schedule"}}
	{{outlet "clock"}}
	{{outlet "weather"}}
	{{outlet "rain-forecast"}}
	{{outlet "giphy-trending"}}
	{{outlet "currently-playing"}}
</div>