<div class="display-container">
	{{#if model.sourceData.calendar}}
		{{fa-icon 'play'}} {{model.sourceData.calendar}}
	{{else}}
		{{#if model.sourceData.info}}
			{{fa-icon 'play'}} {{model.sourceData.info}}
		{{/if}}
	{{/if}}
</div>