<div class="animation" data-image-idx="{{model.currentIndex}}">

{{#if model.currentItem.url}}

	{{#if model.isImage}}
		<img src="{{model.currentItem.url}}" alt="">
	{{else}}
		{{#if model.isVideo}}
			<video autoplay loop src="{{model.currentItem.url}}"></video>
		{{/if}}
	{{/if}}

{{else}}
	<div class="status">(no data)</div>
{{/if}}

</div>